In [1]:
import pandas as pd
data ={"Name":["Tom","Jerry","Mickey","Donald"],
        "Age":[20,21,19,18],
        "Salary":[2000,2100,1900,1800]}
df = pd.DataFrame(data)
print(df)

     Name  Age  Salary
0     Tom   20    2000
1   Jerry   21    2100
2  Mickey   19    1900
3  Donald   18    1800

In [ ]:
data=pd.read_csv("data.csv") #to read a csv file
print(data)

In [ ]:
data=pd.read_excel("data.xlsx") #to read an excel file
print(data)

In [ ]:
data=pd.read_excel("expenses.xlsx") 
print(data.head(10)) #to read the first 10 rows of an excel file
print(data.tail(10)) #to read the last 10 rows of an excel file
print(data.sample(10)) #to read 10 random rows of an excel file
print(data.describe()) #to get the summary of the data
print(data.info()) #to get the information of the data
print(data.isnull().sum()) #to get the number of null values in each column
print(data.isna().sum()) #to get the number of null values in each column

In [11]:
# Simple approach to read the company.csv file
import pandas as pd
data = pd.read_csv('company.csv')
print(data)

   EEID           name  gender  salary
0  E001     John Smith    Male   65000
1  E002  Sarah Johnson  Female   72000
2  E001    Michael Lee    Male   58000
3  E004     Emma Brown  Female   81000
4  E005     David Chen    Male   67500

In [14]:
print(data["EEID"].duplicated()) #to check for duplicate rows
print(data["EEID"].duplicated().sum()) #to count the number of duplicate rows

0    False
1    False
2     True
3    False
4    False
Name: EEID, dtype: bool
1

In [15]:
print(data.drop_duplicates("EEID")) #to drop duplicate rows

   EEID           name  gender  salary
0  E001     John Smith    Male   65000
1  E002  Sarah Johnson  Female   72000
3  E004     Emma Brown  Female   81000
4  E005     David Chen    Male   67500

In [16]:
data=pd.read_csv("company.csv")
print(data)

   EEID           name  gender  salary
0  E001     John Smith    Male   65000
1  E002  Sarah Johnson  Female   72000
2  E001    Michael Lee     NaN   58000
3  E004     Emma Brown  Female   81000
4  E005     David Chen    Male   67500

In [19]:
print(data.isnull())
print(data.isnull().sum())

    EEID   name  gender  salary
0  False  False   False   False
1  False  False   False   False
2  False  False    True   False
3  False  False   False   False
4  False  False   False   False
EEID      0
name      0
gender    1
salary    0
dtype: int64

In [20]:
import numpy as np
print(data.replace(np.nan,"AA"))

   EEID           name  gender  salary
0  E001     John Smith    Male   65000
1  E002  Sarah Johnson  Female   72000
2  E001    Michael Lee      AA   58000
3  E004     Emma Brown  Female   81000
4  E005     David Chen    Male   67500

In [21]:
data["gender"]= data['gender'].replace(np.nan,"Male")
print(data)

   EEID           name  gender  salary
0  E001     John Smith    Male   65000
1  E002  Sarah Johnson  Female   72000
2  E001    Michael Lee    Male   58000
3  E004     Emma Brown  Female   81000
4  E005     David Chen    Male   67500

In [22]:
print(data['salary'].mean())

68700.0

In [23]:
print(data.fillna(method='ffill')) #to fill the missing values with the previous value
print(data.fillna(method='bfill')) #to fill the missing values with the next value

   EEID           name  gender  salary
0  E001     John Smith    Male   65000
1  E002  Sarah Johnson  Female   72000
2  E001    Michael Lee    Male   58000
3  E004     Emma Brown  Female   81000
4  E005     David Chen    Male   67500
   EEID           name  gender  salary
0  E001     John Smith    Male   65000
1  E002  Sarah Johnson  Female   72000
2  E001    Michael Lee    Male   58000
3  E004     Emma Brown  Female   81000
4  E005     David Chen    Male   67500

C:\Users\hites\AppData\Local\Temp\ipykernel_5672\611521344.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method='ffill')) #to fill the missing values with the previous value
C:\Users\hites\AppData\Local\Temp\ipykernel_5672\611521344.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method='bfill')) #to fill the missing values with the next value

# CSV File Exploration Exercise

In this exercise, we'll explore the `company.csv` file using various pandas functions:
- `head()` - to view the first few rows
- `info()` - to get information about the dataframe
- `describe()` - to get statistical summary
- Select and filter rows/columns using pandas indexing and filtering methods

In [24]:
# Load the company.csv file
import pandas as pd
company_data = pd.read_csv('company.csv')

# Display the first 5 rows of the dataset
print("First 5 rows of the dataset:")
print(company_data.head())

First 5 rows of the dataset:
   EEID           name  gender  salary
0  E001     John Smith    Male   65000
1  E002  Sarah Johnson  Female   72000
2  E001    Michael Lee     NaN   58000
3  E004     Emma Brown  Female   81000
4  E005     David Chen    Male   67500

## Key Finding: Dataset Overview

The dataset contains employee information with EEID (Employee ID), name, gender, and salary information.
Let's check the data types and see if there are any missing values.

In [25]:
# Get information about the dataset
print("Dataset information:")
company_data.info()

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   EEID    5 non-null      object
 1   name    5 non-null      object
 2   gender  4 non-null      object
 3   salary  5 non-null      int64
dtypes: int64(1), object(3)
memory usage: 292.0+ bytes

## Key Finding: Data Types and Missing Values

We can see the data types of each column and check if there are any missing values.
Next, let's get statistical insights about the numerical data (salary).

In [26]:
# Get statistical summary of the dataset
print("Statistical summary:")
print(company_data.describe())

Statistical summary:
             salary
count      5.000000
mean   68700.000000
std     8541.077215
min    58000.000000
25%    65000.000000
50%    67500.000000
75%    72000.000000
max    81000.000000

## Key Finding: Statistical Summary

The statistical summary provides insights about the salary distribution:
- We can see the average salary
- The minimum and maximum salaries
- Percentile information

Now let's try different selection and filtering operations.

In [27]:
# Select specific columns
print("Employee names and their salaries:")
print(company_data[['name', 'salary']])

Employee names and their salaries:
            name  salary
0     John Smith   65000
1  Sarah Johnson   72000
2    Michael Lee   58000
3     Emma Brown   81000
4     David Chen   67500

In [28]:
# Filter rows based on conditions
# Get employees with salary greater than 70000
high_salary = company_data[company_data['salary'] > 70000]
print("Employees with salary greater than 70000:")
print(high_salary)

Employees with salary greater than 70000:
   EEID           name  gender  salary
1  E002  Sarah Johnson  Female   72000
3  E004     Emma Brown  Female   81000

In [29]:
# Filter by gender
male_employees = company_data[company_data['gender'] == 'Male']
female_employees = company_data[company_data['gender'] == 'Female']

print("Number of male employees:", len(male_employees))
print("Number of female employees:", len(female_employees))

Number of male employees: 2
Number of female employees: 2

In [30]:
# Calculate average salary by gender
print("Average salary by gender:")
print(company_data.groupby('gender')['salary'].mean())

Average salary by gender:
gender
Female    76500.0
Male      66250.0
Name: salary, dtype: float64

## Key Findings Summary

1. **Dataset Structure**: The company dataset contains employee information with unique IDs, names, gender, and salary information.
2. **Gender Distribution**: We identified the number of male and female employees in the dataset.
3. **Salary Analysis**: 
   - We found employees with high salaries (>70000)
   - We calculated average salaries by gender to identify any potential gender wage gaps.
4. **Data Quality**: Through info() we verified all data is present with no missing values.

This exploration demonstrates basic pandas operations for examining CSV data, including:
- Loading data with `read_csv()`
- Initial examination with `head()`
- Data structure analysis with `info()`
- Statistical summaries with `describe()`
- Row and column selection/filtering
- Basic aggregation with `groupby()`